<% provide(:page_title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username_or_email %>
      <%= f.text_field :username_or_email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      <br>
      <%= f.submit "Log in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", root_path %></p>
  </div>
</div>
