<% provide :page_title, "Task" %>

<!--上導覽列-->
<nav class="navbar navbar-expand fixed-top navbar-dark bg-primary flex-column bd-navbar p-1">
  <span class="navbar-brand m-0 h1">HiGoDrive</span>
  <!--<a class="navbar-brand mx-2" href="#">HiGoDrive</a>-->
</nav>

<!--內容-->
<main>
  <div class="container">
    <h4 class="text-center my-3">訂單紀錄<br>（顯示最近8筆訂單）</h4>
    <hr>
    <div class="accordion" id="accordion">
    </div>
    <div style="display: none;">
      <div class="card" id="template-card-finished" style="display: none;">
          <div class="card-header px-0" id="headingOne">
            <button id="collapse-btn" class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne">
              <div class="row">
                <div class="col-4 px-0">
                  <p class="mb-0"><img class="user_task" src=<%= image_url 'user-circle-regular.svg' %> type="image/svg+xml"
                      alt="user"></p>
                  <p name="user_id" class="mb-0">12345</p>
                </div>
                <div class="col-6 px-0">
                  <p name="dist" class="text-primary">目的地：基隆火車站</p>
                  <p name="route" class="text-primary mb-0">時間：2019/12/3 18:00</p>
                </div>
                <div class="col-2 px-0">
                  <p name="status" class="text-success tag">已完成</p>
                  <i class="fas fa-sort-down fa-lg"></i>
                </div>
              </div>
            </button>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form action="/api/v0/tasks/id/reviews" class="review-form" method="POST">
                <div class="score p-2">
                  <div id="score" class="target"></div>
                  <div class="star" style="display: none;"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="scoreTextarea" name="comment" rows="2"
                    placeholder="評價敘述"></textarea>
                </div>
                <div class="form-row">
                  <div class="col-6" name="report">
                    <a href="/report"><button type="button" class="btn btn-success btn-block p-2">我要申訴</button></a>
                  </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-success btn-block p-2">送出評價</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!--下導覽列-->
<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-primary bd-navbar py-0">
  <div class="row navbar-nav m-auto p-auto">
    <div class="col-3">
      <a class="nav-item nav-link pt-2 pb-0" href="/home">
        <p class="text-center my-0"><i class="fas fa-home fa-lg"></i></p>
        <p class="text-center my-0">Home</p>
      </a>
    </div>
    <div class="col-3">
      <a class="nav-item nav-link pt-2 pb-0" href="/search">
        <p class="text-center my-0"><i class="fas fa-search fa-lg"></i></p>
        <p class="text-center my-0">Search</p>
      </a>
    </div>
    <div class="col-3">
      <a class="nav-item nav-link pt-2 pb-0" href="/task">
        <p class="text-center my-0"><i class="fas fa-tasks fa-lg"></i></p>
        <p class="text-center my-0">Task</p>
      </a>
    </div>
    <div class="col-3">
      <a class="nav-item nav-link pt-2 pb-0" href="/user">
        <p class="text-center my-0"><i class="fas fa-user fa-lg"></i></p>
        <p class="text-center my-0">User</p>
      </a>
    </div>
  </div>
</nav>

<script>

function renderTaskToPage(task) {
  let taskId = task.id;
  let dest = JSON.parse(task.dest);
  let placeName = dest.placeName;
  let departTime = dest.datetimepicker;
  let [author, driver] = [task.author_name, task.driver_name];
  let isPassenger = <%= current_user.roles == 1 %>;
  let status = task.status;
  let [statusMsg, statusClass] = {
      0: ["等待中", "text-primary tag"],
      1: ["已接受", "text-primary tag"],
      2: ["接客中", "text-primary tag"],
      3: ["已完成", "text-success tag"],
      4: ["已取消", "text-danger tag"]
  }[status];

  let card = $("#template-card-finished").clone();
  card.removeAttr("id");
  card.removeAttr("style");

  let [header, collapse] =
      (([a, b]) => { return [$(a), $(b)]; })(card.children());
  header.attr("id", "heading-" + taskId);
  collapse.attr("id", "collapse-" + taskId);
  collapse.attr("aria-labelledby", header.attr("id"));

  let collpaseBtn = header.find("#collapse-btn");
  collpaseBtn.removeAttr("id");
  collpaseBtn.attr("data-target", "#" + collapse.attr("id"));
  collpaseBtn.attr("aria-controls", collapse.attr("id"));

  header.find("p[name='user_id']").html(isPassenger ? driver : author);
  header.find("p[name='dist']").html(placeName);
  header.find("p[name='route']").html(departTime);
  header.find("p[name='status']").html(statusMsg);
  header.find("p[name='status']").attr("class", statusClass);

  collapse.find("#score").attr("id", "score-" + taskId);
  collapse.find("#scoreTextarea").attr("id", "comment-" + taskId);

  let cardBody = collapse.find(".card-body");
  if (status == 3) {
    let review = undefined;
    getTaskReview(taskId).forEach(r => {
      if (r.author_id == "<%= current_user.id %>") { review = r; }
    });
    if (review) {
      cardBody.html('<span>評價：' + review.score + '星 (' + review.comment + ')</span>');
      header.find("p[name='status']").html("已評價");
    } else {
      let reviewForm = cardBody.find(".review-form");
      reviewForm.attr("action", reviewForm.attr("action").replace("id", taskId));
      reviewForm.append('<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">');
      cardBody.find("div[name='report'] > a").attr("href", "/report?id=" + taskId);
    }
  } else {
    cardBody.html({
        0: '<span>狀態：尚無司機接單</span>',
        1: '<span>狀態：已被司機接單</span>',
        2: '<span>狀態：送客中</span>',
        4: '<span>取消原因：已過期</span>'
    }[status]);
  }

  $("#accordion").append(card);
}

$(document).ready(function() {
  let myTasks = getTaskHistory();
  if (myTasks && myTasks.length) {
    myTasks.slice(0, 8).forEach(task => { renderTaskToPage(task); });
    $('.score').raty({
      number: 5,
      targetType: 'score',
      hints: ['非常差', '差', '普通', '好', '非常好'],
      size: 24,
      starHalf: "<%= image_url 'star-half.png' %>",
      starOff: "<%= image_url 'star-off.png' %>",
      starOn: "<%= image_url 'star-on.png' %>",
      target: '.star',
      cancel: false,
    });
  } else {
    $("#accordion").html('' +
        '<div class="noTask">' +
        '  <h5 class="text-center alert alert-danger">沒有訂單紀錄</h5>' +
        '</div>');
  }
  $(".review-form").toArray().forEach(form => {
    $(form).submit(function() {
      return !!$(this).find("input[name='score']").val();
    });
  });
});
</script>
