<!DOCTYPE html>
<html>
  <head>
    <title>GuaneiArk - <%= yield :page_title %></title>
    <%= csrf_meta_tags %>
    <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
    
    <link rel="manifest" href="manifest.json">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "Util.initialize()"%>
    <script type="text/javascript">
      window.publicKey = new Uint8Array(
        <%= SecurityManager.public_vapid_key_bytes %>
      );
    </script>
    <%= yield :head %>
  </head>

  <body>
    <%= flash_messages %>
    <%= yield %>
  </body>
  <% console if Rails.development? %>
</html>
